.combined-display {
    margin: 2rem;
}

.pie-and-words {
    margin: 2rem;
    display: flex;
    flex-direction: row;
}

.pie {
    margin-left: 2rem;
    margin-right: 2rem;
}

.words {
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
}