h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

div.word-cloud-wrapper {
    margin: auto;
    padding: auto;
    width: 100%;
}

.sentiment-display {
    width: 50rem;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}