<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Movie | ReviewSense</title>

</head>

<div class="analysis-display">
    <div class="poster-title-wrapper">
        <div>
            <h2 class="movie-name">
                {{movie?.name}}
            </h2>
        </div>
        <div class="movie-cover">
            <span *ngIf="movie">
                <div *ngIf="movie.poster_url else titleDisplay">
                    <img src={{movie.poster_url}}>
                </div>
                <ng-template #titleDisplay>{{movie.name}}</ng-template>
            </span>
        </div>

    </div>
    <!--Conditional display of components based on routing ID.-->

    <div class="combined-display-wrapper">

        <app-combined-display></app-combined-display>

    </div>
</div>
<h1>List of Reviews</h1>
<div class="reviews-display">
    <app-review-list [options]="movieOptions"></app-review-list>
</div>
<div class="empty">

</div>