div.menu-bar {
    display: grid;
    grid-template-columns: 20rem 7rem 35rem auto;
    margin: auto;
    padding: auto;
    align-items: center;
}

h1 {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: aliceblue;
}

p input {
    border-radius: 10px;
    height: 1.5rem;
    width: 20rem;
}

body {
    border-radius: 20px 20px 0px 0px;
    padding-left: 1.5rem;
    padding: auto;
    margin: auto;
    background-color: #1d3557;
}

h3 {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}