.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    background-color: whitesmoke;
    color: #ff7d00;
    padding: 1rem;
    padding-left: 2rem;
    margin: auto;
}