.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    background-color: whitesmoke;
    color: #ff7d00;
    padding: 1rem;
    padding-left: 2rem;
    margin: auto;
}

.carousel-wrap {
    height: 100;
    width: 95%;
    padding: auto;
    margin: auto;
    z-index: 1;
    overflow: visible;
    position: relative;
}

div.movie {
    overflow: visable;
}

.MovieInfo{
    position: absolute;
    width: 30rem;
    height: 14rem;
    z-index: 999;
    background: white;
    border-radius: 15px;   
    border: 1px solid black;
    padding: 10px;
}