* {
    box-sizing: border-box;
}

body {
    background-color: white;
    border-bottom: 2px solid black;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding: auto 1rem auto;
    font-size: 18px;
}

div.review {
    margin: auto;
    padding: .5rem;
    background-color: whitesmoke;
}

div.review:hover {
    margin-left: .5rem;
    cursor: pointer;
}

div.inner-info {
    background-color: white;
    padding-left: 1rem;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
}

div.triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid #1d3557;
    border-right: 50px solid transparent;
}

div.triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid #1d3557;
    border-left: 50px solid transparent;
}

div.title {
    display: grid;
    grid-template-columns: 3% 95% auto;
    margin: auto;
}

h2 {
    font-size: 30px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.Sentiment {
    font-weight: bold;
    font-size: 20px;
    padding-left: 2rem;
    font-family: 'Roboto', sans-serif;
}

.user {
    font-size: 15px;
    font-style: italic;
    padding-left: 2rem;
    font-family: 'Roboto', sans-serif;
}