/* You can add global styles to this file, and also import other style files */

body.main {
    background-color: white;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background-color: #1d3557;
    font-size: 20px;
    color: aliceblue;
}

div app-body {
    padding: auto;
    margin: auto;
}
