* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
    font-family: 'Roboto', sans-serif;
}

div {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;
}

h2 {
    color: #ff7d00;
    font-family: 'Roboto', sans-serif;
    margin: 2rem;
    padding: 1rem;
}