* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
}

div {
    background-color: whitesmoke;
    margin: auto;
    padding: auto;
}

h2 {
    color: #ff7d00;
    margin: 0rem;
    padding: 1rem;
}