button {
    width: 9rem;
    border: 2px;
    padding: 10px;
    font-family: "Trebuchet MS";
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0.3rem 0.3rem 0.5rem grey;
    overflow-wrap: break-word;
    text-align: center;
}

button.active {
    border-radius: 0px 30px 0px 0px;
    border-style: solid;
    border-color: #ff7d00;
    background-color: #c2c2c2;
}

img {
    transition: 0.3s;
    box-shadow: 0.3rem 0.3rem 0.5rem grey;
    overflow-wrap: break-word;
    object-fit: cover;
    z-index: 1;
}

img.active {
    border-radius: 0px 30px 0px 0px;
}



hr {
    color: #ff7d00;
}

.movie-wrapper {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}
